body{
	padding:0;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	
}

.loader{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:4;
	background-color:white;
	animation-name: example;
	animation-duration: 3.5s;
	visibility: hidden;
	font-size:1.5em;
	
	
}
.note1{
	left:30%; top:30%;
	
	animation-name: moving;
	animation-duration: 2.5s;
	position:relative;	
}
.note2{
	left:30%; top:30%;
	
	animation-name: moving;
	animation-duration: 2.5s;
	animation-delay:0.25s;
	position:absolute;	
}
.note3{
	left:30%; top:30%;
	
	animation-name: moving;
	animation-duration: 2.5s;
	animation-delay:0.5s;
	position:absolute;	
}
.note4{
	left:30%; top:30%;
	
	animation-name: moving;
	animation-duration: 2.5s;
	animation-delay:0.75s;
	position:absolute;	
}
.note5{
	left:30%; top:30%;
	
	animation-name: moving;
	animation-duration: 2.5s;
	animation-delay:1s;
	position:absolute;	
}
@keyframes example {
  0%   {visibility: visible;}

  100% {visibility: visible;}
}
@keyframes moving {
  0%   {color:black; left:40%; top:35%;}
  25%  {color:rgb(65, 11, 11); left:60%; top:35%;}
  50%  {color:rgb(108, 20, 20); left:60%; top:65%;}
  75%  {color:rgb(151, 28, 28); left:40%; top:65%;}
  100% {color:rgb(217, 38, 38); left:40%; top:35%;}
}
#section1 img{
	width: 100%; 
	max-width:350px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
header{
	background-color:white;
	margin:0;	
	display:flex;
	justify-content:space-between;
	align-items:flex-end;
	padding-left:7%;
	padding-right:7%;
}
header span{display: none;}
header div h1.a{
	 text-indent: 190px;
}
#R{
	font-size:2.5em;
}
.first_name{
	position:absolute;
	top:3.5%;
}
header div{
	font-size:1.5em;
	align-self:center;
	font-family:Cinzel Decorative;
	color:black;
}
header div h1{
	margin:0;
	padding:0;
}
header h1{
	margin:0;
	padding:0;
}

header img{
	width:15%;
	align-self:center;
	transition: width 0.7s, height 0.7s;
}
header img:hover{
  width: 23%;
  height: auto;
}
.meniu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 7%;
  padding-right: 7%;
  overflow: hidden;
  

}
#play_audio{
	
	position: absolute;
	right: 7%;
	top: 0;
	height: 100%;
	text-align: center;
	padding: 14px 16px;
	background-color:rgb(217, 38, 38);
	color: black;
	border: none;

}
#stop{
	display: none;
}
.meniu {
	position: sticky;
	top: 0;
	background-color:black;
	z-index:1;
}
.active{
	background-color:rgb(217, 38, 38);
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    display: inline-block;

}

.meniu li {
  float: left;
}

.meniu li a:not(.active) {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.meniu li a:not(.active):hover{
  background-color: rgb(217, 38, 38);
}

.meniu li.dropdown {
  display: inline-block;
}

.meniu li div.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.meniu li div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  float:none;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (max-width: 600px){
	.meniu span{
		display: none;
	}
	
	header div{
		font-size:1em;	
	}

	

}
@media only screen and (max-width: 850px){

	header div{
		text-align:center;	
	}
	header div h1.a{
		text-indent: 0px;
}
	header{
		justify-content:center;
}
.first_name{
	left:31%;

}
	.loader {
		font-size:1em;
	}
}
@media only screen and (max-width: 900px){
	header img{
		display:none;
}
}


#section1 figure figcaption{
	text-align:center;
	font-size:75%;
}
article{
	text-align:justify;
}
.page_content{
	display:flex;
    flex-flow: row-reverse wrap;
	overflow:auto;
	justify-content:center;
	margin-left:7%;
	margin-right:7%;
	background-color:rgb(71, 71, 71);
	padding:20px;
	
	
}
.page_content #section1{
	order:1;
	min-width:200px;
	width: 30%;
	float:right;
	flex: 1 1 auto;
}
#hide_img{
	
	width: 30%;
	margin-left:35%;
	margin-right:35%;
	background-color:rgb(217, 38, 38);
	color: black;
	border-color:rgb(65, 11, 11);
	
}
#culoare{
	width: 60%;
	margin-left:20%;
	margin-right:20%;

}
#sch_culoare{
	
	width: 30%;
	margin-left:35%;
	margin-right:35%;
	background-color:rgb(217, 38, 38);
	color: black;
	border-color:rgb(65, 11, 11);
}
#reset{
	
	background-color:rgb(217, 38, 38);
	color: black;
	border-color:rgb(65, 11, 11);
}
.page_content #section2{
	order:2;
	min-width:200px;
	width: 70%;
	padding: 0;
	flex: 1 1 auto;
}
.page_content #section3{
	order:3;
	flex: 1 1 auto;
}
.page_content #section4{
	order:4;

	flex: 1 1 auto;
}



tr:nth-child(2n){
	background-color: #f2f2f2
}
tr:nth-child(2n+1){
	background-color:rgb(230, 230, 230);
}
table {
  border-collapse: collapse;
  width:100%;
  color:black;
}
th{
  background-color: black;
  color: white;
}

th,td{
	padding:10px;
	 border-bottom: 1px solid #ddd;
	
}
td.event{
	padding-left:10%;
}
footer{
	
	overflow:auto;
	text-align:center;
	margin-top:15px;
	margin-bottom:7px;
	margin-left:7%;
	margin-right:7%;
	background-color:black;
	padding:1%;
	padding-bottom:2%;

}
footer p{
	font-size:0.7em;
}
.extlinks{
	font-size:1.7em;
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:15%;
	margin-left:auto;
	margin-right:auto;
}
.extlinks a{
	text-decoration:none;
	color:white;
	transition: transform 1s;
}
.extlinks a:hover{
	color:red;
	transform: rotate(360deg);
}
.flex-item{
	margin: 5px;
	border: 1px solid #ccc;
	float:left;
	overflow:auto;
	width: 26%;
	min-width: 200px;
	flex: 1 1 auto;
	transition: width 0.5s, height 0.5s;
}
.flex-item img {
  width: 100%;
 
}
.flex-item figcaption{
	
	text-align: center;
	font-size: 75%
}


.flex-item:hover {
  border: 1px solid #777;
  width:36%;
  height:auto;
}
h2{
	
	border-bottom: 1px solid #ddd;
}
.flex-container{
	position:relative;
	overflow:auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
	padding-left:13%;
	padding-right:13%;
	
}
.flex-item-9{
	order:9;
}
.flex-item-4{
	order:7;
}
.flex-item-2{
	order:8;
}

